<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GestionVoiture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GestionVoiture.Properties.Settings.Database1ConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=gestionvoiture"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <applicationSettings>
        <GestionVoiture.Properties.Settings>
            <setting name="fromMail" serializeAs="String">
                <value>rouletitine@laposte.net</value>
            </setting>
            <setting name="mdpMail" serializeAs="String">
                <value>RouleTitine2016</value>
            </setting>
            <setting name="hostMail" serializeAs="String">
                <value>smtp.laposte.net</value>
            </setting>
            <setting name="portMail" serializeAs="String">
                <value>465</value>
            </setting>
        </GestionVoiture.Properties.Settings>
    </applicationSettings>
</configuration>