<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UnitTestGestionVoiture.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;D:\DOCUMENTS\DEVELOPPEMENT\VISUAL STUDIO\RouleTitine\GestionVoiture\Database1.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>